#root {
	display: flex;
	flex-direction: column;

	width: 440px;
	margin: 50px auto;
	font-family: Helvetica, Arial, sans-serif;
}
.helptext {
	margin: 30px 0 30px;
	font-size: 18px;
	text-align: center;
}
.baseimage {
	margin: 40px 0;
}

button {
	width: 100px;
	margin: 0 auto 40px;
}

span {
	margin-top: 5px;
}

.selectionImage {
	height: 100px;
	width: 200px;

	margin: 10px;

	cursor: pointer;
}

.polynomialTexts {
	margin: 20px auto 30px;
    text-align: center;
    color: black;
}
